config LOSCFG_SHELL
    bool "Enable Shell"
    default n
    depends on LOSCFG_DEBUG_VERSION
    help
      Answer Y to enable LiteOS support shell cmd.

menu "Functionality of Shell"
    depends on LOSCFG_SHELL

choice
    prompt "Select shell functionality"
    default LOSCFG_SHELL_FULL_CAP
    help
      Select functionality for shell
       Functionality of shell is used at the real board
      Mini shell is used at software simulation like qemu

config LOSCFG_SHELL_FULL_CAP
    bool "Enable full functionality of shell"
    select LOSCFG_COMPAT_POSIX
    help
      Functionality of shell is used at the real board

endchoice

choice
    prompt "Select Shell Input"
    default LOSCFG_SHELL_UART
    depends on LOSCFG_SHELL_FULL_CAP
    help
      Select shell input, when the input source is chosen, the shell will read the
      terminal input from the source.

config LOSCFG_SHELL_UART
    bool "Uart"
    select LOSCFG_COMPAT_LINUX
    help
      The shell will directly interact with the uart drivers, and only one input
      source is supported.

endchoice

config LOSCFG_SHELL_LK
    bool "Enable Shell lk"
    default y
    depends on LOSCFG_DEBUG_VERSION && LOSCFG_SHELL && LOSCFG_SHELL_FULL_CAP
    help
      Answer Y to enable LiteOS support shell lk.

config LOSCFG_SHELL_DMESG
    bool "Enable Shell dmesg"
    default n
    depends on LOSCFG_DEBUG_VERSION && LOSCFG_SHELL && LOSCFG_SHELL_FULL_CAP
    help
      Answer Y to enable LiteOS support shell dmesg.

config LOSCFG_SHELL_EXCINFO_DUMP
    bool "Enable Shell excInfo"
    default n
    depends on LOSCFG_DEBUG_VERSION && LOSCFG_SHELL && LOSCFG_SHELL_FULL_CAP
    help
      Answer Y to enable LiteOS support shell excInfo.

endmenu
