choice Demo
	optional
	prompt "User Defined Demo"
	config Demo_None
		bool "none"
	config Demo_Helloworld
		bool "Hello World"
		select SHELL_ENABLE
	config Demo_Streetlight
		bool "OC Streetlight"
		select OC_LWM2M
		select SHELL_ENABLE
		select AT_ENABLE
		select BOUDICA150
		select STIMER_ENABLE
	config Demo_OC_Cloud_Map
		bool "OC Cloud Map"
		select OC_LWM2M
		select SHELL_ENABLE
		select AT_ENABLE
		select BOUDICA150
		select STIMER_ENABLE
endchoice

config USER_DEMO
	string
	default "hello_world_demo" if Demo_Helloworld
	default "oc_streetlight_template" if Demo_Streetlight
	default "oc_cloud_map_demo" if Demo_OC_Cloud_Map
	default "none"