config LOSCFG_COMPONENTS_CONNECTIVITY_ATINY_MQTT
    bool "Enable Agenttiny Mqtt"
    depends on LOSCFG_COMPONENTS_CONNECTIVITY
    select LOSCFG_COMPONENTS_CONNECTIVITY_AGENTTINY
    select LOSCFG_COMPONENTS_CONNECTIVITY_MQTT
    default n
    help
      Answer y to enable agent tiny mqtt.

config LOSCFG_COMPONENTS_CONNECTIVITY_ATINY_LWM2M
    bool "Enable Agenttiny Lwm2m"
    depends on LOSCFG_COMPONENTS_CONNECTIVITY
    select LOSCFG_COMPONENTS_CONNECTIVITY_AGENTTINY
    select LOSCFG_COMPONENTS_CONNECTIVITY_LWM2M
    default n
    help
        Answer y to enable agent tiny lwm2m.

config LOSCFG_COMPONENTS_CONNECTIVITY_AGENTTINY
    bool