menu "Graphical User Interface Demo"

comment "only support STM32F769IDISCOVERY"

config LOSCFG_DEMOS_GUI
    bool "Enable Gui Demo"
    default y
    depends on LOSCFG_COMPONENTS_GUI
    select LOSCFG_GUI_ENABLE
    help
      Answer y to enable Graphical User Interface demo.

   config LOSCFG_GUI_ENABLE
   bool

endmenu
