menu "Agent Tiny Mqtt Demo"

config LOSCFG_DEMOS_AGENT_TINY_MQTT
    bool "Enable Agent Tiny Mqtt Demo"
    default n
    help
      Answer y to enable agent tiny mqtt demo.

config LOSCFG_DTLS_MODE
    string
    default "NO_ENCRYPT"    if LOSCFG_DTLS_NO_ENCRYPT
    default "PSK_ENCRYPT"   if LOSCFG_DTLS_PSK_ENCRYPT
    default "CRET_ENCRYPT"  if LOSCFG_DTLS_CRET_ENCRYPT

choice
    prompt "encryption mode"
    depends on LOSCFG_DEMOS_AGENT_TINY_MQTT
    default LOSCFG_DTLS_NO_ENCRYPT
    help
      support encryption mode:
      NO_ENCRYPT
      PSK_ENCRYPT
      CRET_ENCRYPT

config LOSCFG_DTLS_NO_ENCRYPT
    bool "NO_ENCRYPT"

config LOSCFG_DTLS_PSK_ENCRYPT
    bool "PSK_ENCRYPT"
    select LOSCFG_COMPONENTS_SECURITY
    select LOSCFG_COMPONENTS_SECURITY_MBEDTLS

config LOSCFG_DTLS_CRET_ENCRYPT
    bool "CRET_ENCRYPT"
    select LOSCFG_COMPONENTS_SECURITY
    select LOSCFG_COMPONENTS_SECURITY_MBEDTLS

endchoice

endmenu
