menu "Sensorhub Demo"

comment "only support Cloud_STM32F429IGTx_FIRE"

config LOSCFG_DEMOS_SENSORHUB
    bool "Enable Sensorhub Demo"
    default n
    depends on LOSCFG_COMPONENTS_SENSORHUB
    help
      Answer y to enable sensorhub demo.

endmenu
